html {
  font-size: 62.5%;
}

body {
  @include font(15);
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: lighter;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
}
